<app-header></app-header>
<section class="content-main">

    <div class ="content-header">
        <h2 class = "content-title">Servizi <mat-icon>medical_services</mat-icon></h2>
        
        <div class="popup" *ngIf="message !== ''" style="padding: 10px; width: fit-content; background-color: #f5f5f5; border: 1px solid #ddd; border-radius: 10px;">
          <p style="font-size: 20px; margin: 0;">
            <mat-icon style="vertical-align: middle; margin-right: 8px;" color="warn">warning</mat-icon>
            <b>{{ message }}</b>
            <button class="close-button" (click)="closePopup()">×</button>
          </p>
        </div>

        <div>
            <a href="/addService" class="btn btn-primary" *ngIf="auth.isLoggedAdmin()">Aggiungi Servizio</a>
        </div>
    </div>

    <div class="card mb-4">

        <header class="card-header">
        <div class="row gx-3">
          <div class="col-lg-4 col-md-6 me-auto">
            <input id="search" type="text" [(ngModel)] = "search" placeholder="Cerca..." class="form-control" (input)="searchingSpecificService()">
          </div>
        </div>
      </header>
  
      <div class="card-body" *ngIf="auth.isLoggedAdmin()">
        <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5" *ngIf="services$">
            <app-services-card *ngFor="let service of services$" [service] = "service" (delete) = "deleteService(service.code)" (edit) = "editService(service.code)" (show) = "showService(service.code)"></app-services-card>
        </div>
      </div>

      <div class="card-body" *ngIf="!auth.isLoggedAdmin()">
        <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5" *ngIf="services$">
          <ng-container *ngFor="let service of services$">
            <app-services-card [service] = "service" (book) = "bookService(service.code)" (remove) = "deleteBook(service.code)" (show) = "showService(service.code)"></app-services-card>
          </ng-container>
          </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>